.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif; 
  color: #312f58;
}

.ubuntu-sans {
  font-family: 'Ubuntu', sans-serif; /* Ensure the name matches */
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.sedan-sc-regular {
  font-family: 'Sedan SC', serif; /* Ensure the name matches */
  font-weight: 400;
  font-style: normal;
}

.main-content {
  min-height: calc(100vh - 50px); /* Adjust 100vh by the footer's height */
  padding-bottom: 50px; /* Space for the footer */
  overflow: hidden; /* Ensures no overflow of content */
}

